dc_extract.code-workspace
extract/devtests/vectors/*
extract/devtests/test-images/*
extract/devtests/logs/*
dc_output/*
*.tif
*/*.tif
*/*/*.tif
*/*/*/*.tif
*/*/*/*/*.tif
*.pyc
*/*.pyc
*/*/*.pyc
*.tif*
*/*.tif*
*/*/*.tif*
*/*/*/*.tif*
*/*/*/*/*.tif*
test-imagery/*
test-jeremie/*
hrdem-imagery/*
hrdem-test/*.tif*
conda_install_commands.txt
*.temp
*/*.temp
*/*/*.temp
*/*/*/*.temp
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*.png
*.xml
*.qgz
*/*.png
*/*.xml
*/*.qgz
*/__pycache__/*
*/eodms_api_tools/*.json
*/archive*/*
*/.spyproject/*
*/.spyproject/*/*
*/.spyproject/*/*/*
*/.spyproject/*/*/*/*
*.spyproject
.spyproject*
.spyproject/config/backups/workspace.ini.bak
.spyproject/*
.spyproject/*/*
.spyproject/*/*/*
*/extract/A*
*/extract/X*
*/extract/Y*
*/extract/W*
extract/A*
extract/X*
extract/Y*
extract/W*
extract/.spy*
extract/.spy*/*
extract/.spy*/*/*
extract/*spy*/*/*/*
remote_dem/.spy*
remote_dem/.spy*/*
remote_dem/.spy*/*/*
__pycache__
__pypcache__/*
*/__pycache___
*/__pycache__/*
*/*/__pycache__
*/*/__pycache__/*
*.job*
extract_cog_call.py*
extract_cog_call_OLD.py*
mosaic_by_window_call.py*
*.out
extract/devtests/*.gpkg
extract/devtests/*.out
mosaics
dist/*
ccmeo_datacube.egg-info/*