numpy==1.25.2
rasterio==1.3.8
requests==2.31.0
fiona==1.9.4
dask==2023.9.2
geopandas==0.12.2
rioxarray==0.15.0
shapely==2.0.1
pydantic==2.4.1
pytest==7.4.2
xarray==2023.9.0
nrcan-ssl @ git+https://gitlab-ci-token:${CI_JOB_TOKEN}@git.geoproc.geogc.ca/datacube/utilities/nrcan_ssl
